API_URL="" # 校務系統網址，重要！必須包含 YB2K 或相關字樣（如: https://sw.tpcu.edu.tw/YB2K 或 https://acad6.tnua.edu.tw/NEWB2K)
WCFY_API_URL="" # 給下載用的
NEXT_PUBLIC_SCHOOL_NAME="" # 學校名稱 (可留空)
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_OWNER_EMAIL="changeme@example.com" ## 必須更改成你的信箱！！

## 請勿刪除 (重要元件)
NEXT_PUBLIC_API_URL=${API_URL}
